<h1>Nurse Info for {{ user.firstName }} {{ user.lastName }}</h1>
<table border="1">
	<tr>
		<td>Username</td>
		<td colspan="3" >{{ user.userName }}</td>
	</tr>
	<tr>
		<td>Hospital of Employment</td>
		<td colspan="3">
		{{ user.hospital.name }}
		</td>
	</tr>
	<tr>
		<td><form action="{% url 'hospital:nupdate' user.userName %}">
            <input type="submit" value="Edit">

        </form></td>

<table border="1">
<tr><td colspan="4"><center>Contact Information</center></td></tr>
	<tr><td colspan="2">Phone Number:</td>
		<td colspan="2">
			{% if user.phoneNumber %}
				{{ user.phoneNumber.phoneNumber }}
			{% endif %}
		</td>
	<tr><td colspan="2">Address:</td>
		<td colspan="2">
			{{ user.address }}
		</td></tr>
	<tr><td colspan="2">Email:</td>
		<td colspan="2">
			{% if user.email %}
				{{ user.email.email }}
			{% endif %}
		</td></tr>
</table>
        <td><form action="{% url 'hospital:nHospitaldir' user.userName %}">
            <input type="submit" value="Directory">
        </form></td>

        <td><form action="{% url 'hospital:npatientlist' user.userName %}">
		<input type="submit" value="Patients">

		</form></td>
		<td><form action="{% url 'hospital:ncal' user.userName %}">
			<input type="submit" value="View Appointments">
		</form>
		<a href=""></a></td>
		<td><form action="{% url 'hospital:home' %}">
			<input type="submit" value="Log Out">
		</form></td>
	</tr>
</table>