<h1>Nurse Information Update</h1>

{% if error_message %}
	<p><strong>
		An error occurred while updating:
		<br/>
		{{ error_message }}
	</strong></p>
{% endif %}

<form action="{% url 'hospital:nupdatesubmit' user.userName %}" method="post">
	{% csrf_token %}

	</br>
	<label for="password">Password:</label>
	<input type="password" name="password" value={{user.password}} id="password">
	</br>
	<label for="password2">Confirm Password:</label>
	<input type="password" name="password2" value={{user.password}} id="password2">
	</br>
	<label for="fname">First Name:</label>
	<input type="text" name="fname" value={{user.firstName}} id="fname">
	</br>
	<label for="lname">Last Name:</label>
	<input type="text" name="lname" value={{user.lastName}} id="lname">
	</br>
	<label for="worksAtHospital">Hospital of Employment:</label>
	<select name="worksAtHospital">
		{% for h in hospitals.all %}
			<option value="{{ h.id }}">{{ h.name }}</option>
		{% endfor %}
	</select>
    
	</br></br></br>
	
	<label>Contact Information:</label> </br></br>
    <label for="phoNum">Phone Number:</label>
	<input type="text" name="phoNum" id="phoNum" value="{{user.phoneNumber.phoneNumber}}"></input>
	</br>
	<label for="email">Email:</label>
	<input type="text" name="email" id="email" value="{{user.email.email}}"></input>
	</br>
        <label for="address" font="2">Address:
        <textarea name="address" id="address" rows="1">{{user.address}}</textarea></label>
	</br></br>
    <form action="{% url 'hospital:ninfo' user.userName %}">
	<input type="submit" value="Submit">
    </form>
    <form action="{% url 'hospital:ninfo' user.userName %}">
	<input type="submit" value="Cancel">
    </form>
</form>