<h1>Nurse Registration</h1>

{% if error_message %}
	<p><strong>
		An error occured in registration:
		<br/>
		{{ error_message }}
	</strong></p>
{% endif %}

<form action="{% url 'hospital:registerNurseSubmit' aid %}" method="post">
	{% csrf_token %}
	
	<label for="username">Username:</label>
	<input type="text" name="username" id="username">
	</br>
	<label for="username">Password:</label>
	<input type="password" name="password" id="password">
	</br>
	<label for="username2">Confirm Password:</label>
	<input type="password" name="password2" id="password2">
	</br>
	<label for="fname">First Name:</label>
	<input type="text" name="fname" id="fname">
	</br>
	<label for="lname">Last Name:</label>
	<input type="text" name="lname" id="lname">
	</br>
	<label for="worksAtHospital">Primary Hospital:</label>
	<select name="worksAtHospital">
		{% for h in hospitals.all %}
			<option value="{{ h.id }}">{{ h.name }}</option>
		{% endfor %}
	</select>
	</br>

	<input type="submit">
</form>

<form action="{% url 'hospital:ainfo' aid %}">
	<input type="submit" value="Cancel">
</form>